.header{
    background-color: rgb(255, 0, 191);
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}
.header h1{
    margin: 0;
}

.show-data{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

